<p style="color: green"><%= notice %></p>

<h1 style="text-align: center; color: #2f4f4f;">Servicios</h1>

<div id="servicios" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 20px;">
  <% @servicios.each do |servicio| %>
    <%= link_to servicio_path(servicio), style: "text-decoration: none;" do %>
      <div style="width: 300px; text-align: center; background-color: #e7f5e9; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); overflow: hidden; transition: transform 0.2s ease;">
        <!-- Imagen estática para todos los servicios -->
        <img src="/assets/static_service_image.png" alt="Imagen de Servicio" style="width: 100%; height: 200px; object-fit: cover;">
        <div style="padding: 15px;">
          <h3 style="color: #50A371; font-size: 1.5rem; margin-bottom: 10px;"><%= servicio.nombre.upcase %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Nuevo Servicio", new_servicio_path, class: "btn btn-primary", style: "background-color: #50A371; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 1.2rem;" %>
</div>
