<div id="<%= dom_id tipo_cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= tipo_cliente.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tipo_cliente.descripcion %>
  </p>

</div>
