<h1>Editing tipo cliente</h1>

<%= render "form", tipo_cliente: @tipo_cliente %>

<br>

<div>
  <%= link_to "Show this tipo cliente", @tipo_cliente %> |
  <%= link_to "Back to tipo clientes", tipo_clientes_path %>
</div>
