<h1>Editing notificacion</h1>

<%= render "form", notificacion: @notificacion %>

<br>

<div>
  <%= link_to "Show this notificacion", @notificacion %> |
  <%= link_to "Back to notificacions", notificacions_path %>
</div>
