<div id="<%= dom_id costos_servicio_por_tipo_cliente %>">
  <p>
    <strong>Tipo cliente:</strong>
    <%= costos_servicio_por_tipo_cliente.tipo_cliente_id %>
  </p>

  <p>
    <strong>Codigo servicio:</strong>
    <%= costos_servicio_por_tipo_cliente.codigo_servicio %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= costos_servicio_por_tipo_cliente.costo %>
  </p>

</div>
