<h1>Editing costos servicio por tipo cliente</h1>

<%= render "form", costos_servicio_por_tipo_cliente: @costos_servicio_por_tipo_cliente %>

<br>

<div>
  <%= link_to "Show this costos servicio por tipo cliente", @costos_servicio_por_tipo_cliente %> |
  <%= link_to "Back to costos servicio por tipo clientes", costos_servicio_por_tipo_clientes_path %>
</div>
