<p style="color: green"><%= notice %></p>

<h1>Costos servicio por tipo clientes</h1>

<div id="costos_servicio_por_tipo_clientes">
  <% @costos_servicio_por_tipo_clientes.each do |costos_servicio_por_tipo_cliente| %>
    <%= render costos_servicio_por_tipo_cliente %>
    <p>
      <%= link_to "Show this costos servicio por tipo cliente", costos_servicio_por_tipo_cliente %>
    </p>
  <% end %>
</div>

<%= link_to "New costos servicio por tipo cliente", new_costos_servicio_por_tipo_cliente_path %>
