.login-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  }
  
  .login-box {
    display: inline-block;
    background-color: #e5f4e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-box h1 {
    font-size: 1.5em;
    color: #005f35;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #008f39;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #006f2b;
  }
  